{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Conditions générales d'utilisation - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="categorie">
  	{{ parent() }}
  	<h1 class="beige text-center">Conditions générales d'utilisation</h1>
    <hr class="hr-beige">
		<div class="bordures">
	  	<div class="row">
		  	<p>Nous utilisons des cookies de fonctionnalité afin d'améliorer l'expérience utilisateur et donc la navigation sur notre site.</p>
        <p>Ces cookies sont conservés sur votre ordinateur même après fermeture de votre navigateur et réutilisé lors des prochaines visites sur nos sites. Ils ne mettent pas en péril votre vie privée ni votre sécurité.</p>
        <p>Vous pouvez vous rendre sur le site de la Commission Nationale de l'Informatique et des Libertés (CNIL) à l'adresse http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/ qui explique comment gérer les cookies sur votre navigateur.</p>
      </div>
	  </div>
	</div>

{% endblock %}
