{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Categorie - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="categorie">
  	{{ parent() }}
  	<h1 class="beige text-center">Conditions générales d'utilisation</h1>
    <hr class="hr-beige">
		<div class="bordures">
	  	<div class="row">
		  	<p>texte</p>
		  </div>
	  </div>
	</div>

{% endblock %}
