<div class="infos-cookies">
  <p>En poursuivant votre navigation sur notre site, vous acceptez l'utilisation des cookies, cela premet une meilleur utilisation du site.</p>
  <button type="button" name="button">Ok</button>
  <a target="_blank" href="{{path('sd6_production_app_mentions_legales')}}">En savoir plus</a>
</div>
