/*------Annonce include page------*/
.annonce{
  div[class^="col-"]{
  	padding-bottom: 40px;

    img{
    	width: 100%;
    	height: auto;
    }

    .contenu{
    	border: 1px solid #d1d1d1;

      .image{
        height: 230px;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .texte{
        padding: 0px 15px 15px 15px;
        .titre{
          h3{
            a{
              display: block;
            	color: $noirTxt;
            }
            a:first-letter{
            	text-transform: uppercase;
            }
            a:hover{
              text-decoration: none;
            }
          }
        }

        .accroche{
        	font-size: 15px;
          p{
            height: 66px;
          }
        }
      }

      .bouton{
      	text-align: center;

        a{
        	background-color: $noirBtn;
         	border: 1px solid $noirBtn;
        	display: block;
        	padding: 5px 0px;
        	color: #fff;
        	text-decoration: none;
        }
        a:hover{
        	background-color: $beige;
        	border: 1px solid $beige;
        }
        a.editer{
        	margin-top: 1px;
        }
      }
    }
  }
}
