/*------Detail annonce------*/
.detail{
  .contenu{
    h1:first-letter{
    	text-transform: uppercase;
    }


    .image{
      img{
        max-width: 100%;
        height: auto;
        max-height: 300px;
      }
    }

    .infos{
      p{
      	color: #7C7C7C;
      	font-size: 13px;
      	padding: 10px 0px;

      }
    }

    .precedent{
      float: left;
    }

    .suivant{
      float: right;
    }
  }
}
