/*------Detail annonce------*/
.detail{
  .contenu{
    h1:first-letter{
    	text-transform: uppercase;
    }


    .image{
      img{
        max-width: 100%;
        height: auto;
        max-height: 300px;
      }
    }

    .ferme{
      text-transform: uppercase;
      color: #ff0000;
      font-size: 20px;
    }

    .infos{
      p{
      	color: #7C7C7C;
      	font-size: 13px;
      	padding: 10px 0px;

      }
    }

    .partage-boutons{
      a{
        text-decoration: none;
      }
    }

    .precedent{
      float: left;
    }

    .suivant{
      float: right;
    }
  }
}

@media (max-width: 700px ){
  .texte{
    iframe{
      width: 100% !important;
      height: auto !important;
    }
  }
}
