/*------Equipe------*/
.equipe{
  .membres{
    padding-top: 0px;

    .bordures{
      display: flex;
      flex-wrap: wrap;
    }

    [class*="col-"]{
      padding-bottom: 20px;
      .image{
      	width: auto;
      	height: auto;

        img{
        	width: auto;
        	height: auto;
        	max-height: 200px;
          margin: 0 auto;
          border-radius: 90%;
        }
      }

      .media-body{
        text-align: center;

        h4{
          font-size: 19px;
          height: 44px;
        }
      }
    }
  }
}
