/*------Accueil------*/
.accueil {
  .visuel-activites{
    background-image: url('../images/accueil/accueil.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;

    .filtre{
    	width: 100%;
    	height: 100%;
    	background-image: url('../images/accueil/point.png');
    	background-repeat: repeat;
    	display: table;

      .contenu{
      	display: table-cell;
      	vertical-align: middle;
      	text-transform: uppercase;
      	color: $beigeH1Home;
      	padding-left: 50px;
      	text-shadow: -3px -1px 0px #4e4944; /*#665f57*/

        p{
        	font-size: 48px;
          letter-spacing: 3px;
          word-break: break-word;
        }
      }
    }
  }

  .activites{
    background-color: $beigeH1Home;
    text-align: center;
    h1{
      text-transform: uppercase;
      font-size: 24px;
      color: #fff;
      margin: 0;
    }
  }

  .presentation{
    background-color: $grisClair;

    .texte{
      .col-1{
        text-align: right;
      }

      .btn{
      	text-align: center;

        a{
          display: inline-block;
          padding: 6px 12px;
          background-color: $noirTxt;
          color: #fff;
          border-width: 1px;
          border-style: solid;
          border-color: $noirTxt;
          text-decoration: none;
        }

        a:hover{
          background-color: $beige;
          border: 1px solid $beige;
        }
      }
    }
  }

  .video{
    position: relative;

    .filtre{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      background-color: rgba(0, 0, 0, .5);
    }

    video{
      height: 350px;
      overflow: hidden;
    }
  }
}

@media (max-width: 767px ){
  .accueil{
    .presentation{
      .texte{
        .col-1{
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 640px ){
  .accueil{
    .visuel-activites{
      .filtre{
        .contenu{
          padding-left: 20px;
          
          p{
            font-size: 28px;
          }
        }
      }
    }
  }
}
