/*------Prestations------*/
.prestations{
  .presentation{
    padding-top: 0px;
    .objets{
      [class*="col-"]{
        text-align: center;
        margin: 20px 0px;

        .icon{
          font-size: 42px;
          color: $beige;
        }
      }
    }
  }

  .paralax{
    background: url('../images/equipe/grenoble.jpg') center center no-repeat fixed;
    background-size: cover;
    padding: 0px 0px;

    .filtre{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 40px 0px;

      .bordures{
        margin: 20px auto;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
      }
    }
    p{
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 23px;
      letter-spacing: 2px;
      line-height: 1.7;
    }
  }

  .cinematographique-televisuel{
    .center{
      text-align: center;
      margin-bottom: 40px;
    }

    blockquote{
      font-style: italic;
      margin-top: 20px;
      .texte{
        color: $beige;
      }
    }
  }
}
