{% if popupPinned is not null %}
  <div class="popup-promo">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <h4>{{popupPinned.title}}</h4>
    <p>{{popupPinned.content|raw}}</p>
    <input type="checkbox" id="checkbox-promo" value="checkbox-promo"><label for='checkbox-promo'>Ne plus afficher</label>
    {% if is_granted('ROLE_ADMIN') %}
      <div class="row boutons-admin">
        <a href="{{ path('sd6_production_popup_infos_edite', {'idPopup': popupPinned.id})}}">Editer</a>
        <a href="{{ path('sd6_production_popup_infos_delete', {'idPopup': popupPinned.id})}}" class="supprimer">Supprimer</a>
      </div>
    {% endif %}
  </div>
{% endif %}
