{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout annonce- {{ parent() }}{% endblock %}

{% block head %}
  	{{ parent() }}
  	<meta name="description" content="">
  	<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  	{{ parent() }}
   	<div class="all-form">
      <div class="bordures">
        <div class="form-annonce">
          {{ include("SD6ProductionAdminBundle:Include:form-annonce.html.twig") }}
        </div>
      </div>

	</div>

{% endblock %}
