{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1 class="beige text-center">Changer son mot de passe</h1>
<hr class="hr-beige">
<div class="bordures">
	<div class="row">
		{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
	</div>
</div>
{% endblock fos_user_content %}
