{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Page non trouvée - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="SD6 Production page non trouvée">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="row">
  <div class="bordures">
    <div class="row">
      <h1 class="text-center">Oups, page non trouvée</h1>
      <hr>
      <p class="text-center">La page que vous cherchez semble introuvable, elle a peux étre été déplacé ou supprimée. Code d'erreur : 404.</p>
      <p class="text-center">Nous vous invitons à <a href="{{ path('sd6_production_app_homepage') }}">retourner à l'accueil</a>. Merci pour votre compréhension.</p>
      <p class="text-right">SD6 Production</p>
    </div>
  </div>
</div>
{% endblock %}
