/*------General------*/
body {
  font-family: 'Roboto regular', sans-serif; }

h2 {
  text-align: center;
  font-size: 32px; }

p {
  font-size: 15.5px; }

hr {
  margin-bottom: 30px; }

hr.hr-beige {
  width: 50px;
  border: 1px solid #A99675; }

h1.beige, h2.beige {
  color: #A99675; }

footer {
  background-color: #222222;
  color: #fff; }

.row {
  padding: 40px 0px;
  margin-right: 0px;
  margin-left: 0px; }

.bordures {
  width: 85%;
  margin: auto; }

.ombres:hover {
  box-shadow: 0 12px 15px 2px rgba(0, 0, 0, 0.14), 0 4px 23px 3px rgba(0, 0, 0, 0.12), 0 6px 8px -4px rgba(0, 0, 0, 0.3); }

.annonce .image img {
  width: 100%;
  height: auto; }

.zoom-effet {
  overflow: hidden; }
  .zoom-effet img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.zoom-effet:hover {
  overflow: hidden; }
  .zoom-effet:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.active a {
  color: #fff; }

.nav-fixed {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  animation: navBarHaut 0.5s; }

@font-face {
  font-family: 'Roboto regular';
  src: url("../fonts/roboto/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@media (min-width: 992px) {
  .container {
    width: auto; } }

/*------Accueil------*/
.accueil .visuel-activites {
  background-image: url("../images/accueil/pexels-photo-29737.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px; }
  .accueil .visuel-activites .filtre {
    width: 100%;
    height: 100%;
    background-image: url("../images/accueil/point.png");
    background-repeat: repeat;
    display: table; }
    .accueil .visuel-activites .filtre .contenu {
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase;
      color: #DDCEBC;
      padding-left: 50px;
      text-shadow: -3px -1px 0px #665f57; }
      .accueil .visuel-activites .filtre .contenu h1 {
        font-size: 48px; }

.accueil .presentation {
  background-color: #F6F6F6; }
  .accueil .presentation .texte .col-1 {
    text-align: right; }
  .accueil .presentation .texte .btn {
    text-align: center; }

@media (max-width: 767px) {
  .accueil .presentation .texte .col-1 {
    text-align: left; } }

/*------Annonce include page------*/
.annonce div[class^="col-"] {
  padding-bottom: 40px; }
  .annonce div[class^="col-"] img {
    width: 100%;
    height: auto; }
  .annonce div[class^="col-"] .contenu {
    border: 1px solid #d1d1d1; }
    .annonce div[class^="col-"] .contenu .texte {
      padding: 0px 15px 15px 15px; }
      .annonce div[class^="col-"] .contenu .texte .titre h3 a {
        display: block;
        color: #333; }
      .annonce div[class^="col-"] .contenu .texte .titre h3 a:first-letter {
        text-transform: uppercase; }
      .annonce div[class^="col-"] .contenu .texte .titre h3 a:hover {
        text-decoration: none;
        color: #A99675; }
      .annonce div[class^="col-"] .contenu .texte .accroche {
        font-size: 15px; }
    .annonce div[class^="col-"] .contenu .bouton {
      text-align: center; }
      .annonce div[class^="col-"] .contenu .bouton a {
        background-color: #222222;
        border: 1px solid #222222;
        display: block;
        padding: 5px 0px;
        color: #fff;
        text-decoration: none; }
      .annonce div[class^="col-"] .contenu .bouton a:hover {
        background-color: #A99675;
        border: 1px solid #A99675; }
      .annonce div[class^="col-"] .contenu .bouton a.editer {
        margin-top: 1px; }

/*------Detail annonce------*/
.detail .contenu .titre h2:first-letter {
  text-transform: uppercase; }

.detail .contenu .image img {
  width: 100%;
  height: auto; }

.detail .contenu .infos p {
  color: #7C7C7C;
  font-size: 13px;
  padding: 10px 0px; }

/*------Equipe------*/
.equipe h1 {
  text-align: center; }

.equipe .membres {
  background-color: #F6F6F6; }
  .equipe .membres [class*="col-"] {
    padding-bottom: 20px; }
    .equipe .membres [class*="col-"] .image {
      width: 30%;
      height: auto; }
      .equipe .membres [class*="col-"] .image img {
        width: 100%;
        height: auto;
        max-height: 200px; }
    .equipe .membres [class*="col-"] .media-body {
      width: 70%;
      vertical-align: middle; }
  .equipe .membres p.center {
    padding-top: 40px;
    text-align: center; }

/*------Footer------*/
footer.row {
  padding: 40px 0px 0px 0px; }
  footer.row h4 {
    text-transform: uppercase;
    color: #A99675; }
  footer.row .plan a {
    display: block;
    color: #818181;
    cursor: pointer; }
  footer.row .rs img {
    width: 45px;
    height: auto; }
  footer.row .copyright {
    padding-top: 10px;
    text-align: center;
    background-color: #151515;
    font-style: italic;
    color: #444444; }
  footer.row .coordonnees, footer.row .plan, footer.row .rs {
    margin-bottom: 20px;
    color: #818181; }

/*------Page Galerie Image------*/
#links img {
  max-height: 200px;
  height: auto;
  display: inline-block; }

.blueimp-gallery > .slides > .slide-loading {
  background: url(images/loading.gif) center no-repeat;
  background-size: 64px 64px; }

/*------Navbar------*/
.navbar {
  margin-bottom: 0px;
  height: auto;
  border: 0px; }
  .navbar .container-fluid {
    padding-right: 0px;
    padding-left: 0px; }
    .navbar .container-fluid .navbar-header a.navbar-brand {
      padding: 0;
      height: 69px; }
      .navbar .container-fluid .navbar-header a.navbar-brand img {
        width: auto;
        height: 100%; }
    .navbar .container-fluid .navbar-collapse {
      background-color: #222222; }
      .navbar .container-fluid .navbar-collapse .nav li a {
        font-size: 16px; }
  .navbar .navbar-brand, .navbar .container-fluid > .navbar-header, .navbar .container-fluid {
    height: auto; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; }
  .navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 25px; } }

.production [class^="col-"] {
  padding-right: 0px;
  padding-left: 0px; }
  .production [class^="col-"] .contenu {
    margin: 1px 1px;
    /*.image:hover{
        img:hover {
          -ms-transform:scale(1.2);
          -webkit-transform:scale(1.2);
          transform:scale(1.2);
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }*/ }
    .production [class^="col-"] .contenu .image img {
      display: block;
      position: relative;
      -webkit-transition: all .4s linear;
      transition: all .4s linear;
      width: 100%;
      height: auto; }
    .production [class^="col-"] .contenu .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      text-align: center; }
      .production [class^="col-"] .contenu .overlay .texte {
        display: table;
        width: 100%;
        height: 100%; }
        .production [class^="col-"] .contenu .overlay .texte .table-cell {
          display: table-cell;
          vertical-align: middle; }
          .production [class^="col-"] .contenu .overlay .texte .table-cell .titre {
            text-transform: uppercase;
            font-size: 17px;
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
            margin: 10px 0px; }
            .production [class^="col-"] .contenu .overlay .texte .table-cell .titre h3 {
              margin: 0; }
              .production [class^="col-"] .contenu .overlay .texte .table-cell .titre h3 a {
                color: #fff;
                text-decoration: none; }
            .production [class^="col-"] .contenu .overlay .texte .table-cell .titre h3:hover a {
              color: #A99675; }
          .production [class^="col-"] .contenu .overlay .texte .table-cell .accroche, .production [class^="col-"] .contenu .overlay .texte .table-cell .date {
            color: #fff;
            padding: 0px 10px; }
            .production [class^="col-"] .contenu .overlay .texte .table-cell .accroche p, .production [class^="col-"] .contenu .overlay .texte .table-cell .date p {
              font-size: 13px; }
          .production [class^="col-"] .contenu .overlay .texte .table-cell .bouton {
            display: inline-block;
            border: 1px solid #222222;
            background-color: #222222;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 7px 14px; }
            .production [class^="col-"] .contenu .overlay .texte .table-cell .bouton a {
              color: #fff;
              text-decoration: none; }
          .production [class^="col-"] .contenu .overlay .texte .table-cell .bouton:hover {
            border: 1px solid #A99675;
            background-color: #A99675; }
            .production [class^="col-"] .contenu .overlay .texte .table-cell .bouton:hover a {
              color: #fff; }
    .production [class^="col-"] .contenu .overlay:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
      .production [class^="col-"] .contenu .overlay:hover .bouton {
        -webkit-transition-delay: .2s;
        transition-delay: .2s; }

.recrutement h1 {
  text-align: center; }

.recrutement .description p {
  text-align: center; }

.contact h1 {
  text-align: center; }

.contact h4 {
  text-transform: uppercase; }

.contact .contenu {
  background-color: #F6F6F6; }
  .contact .contenu .reseaux-sociaux a.facebook img {
    width: 45px;
    height: 45px; }
  .contact .contenu .formulaire #sd6production_contactbundle_contact div {
    margin-bottom: 10px; }
    .contact .contenu .formulaire #sd6production_contactbundle_contact div label, .contact .contenu .formulaire #sd6production_contactbundle_contact div input {
      width: 100%; }
  .contact .contenu .coordonnes, .contact .contenu .reseaux-sociaux, .contact .contenu .formulaire {
    margin-bottom: 30px; }

.contact .map {
  padding: 0px; }

.actualite h1 {
  text-align: center; }

/*------Animations------*/
.animation-de-gauche {
  position: relative;
  animation-name: slideGauche;
  animation-duration: 1s; }

.animation-de-droite {
  position: relative;
  animation-name: slideDroite;
  animation-duration: 1s; }

.animation-du-bas {
  position: relative;
  animation-name: slideBas;
  animation-duration: 1s; }

.animation-gauche, .animation-droite, .animation-bas {
  visibility: hidden; }

@-webkit-keyframes slideGauche {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideGauche {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideDroite {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideDroite {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideBas {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideBas {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes navBarHaut {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes navBarHaut {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/*------Equipe------*/
.prestations h1 {
  text-align: center; }

.prestations .presentation {
  padding-top: 0px; }
  .prestations .presentation .objets .center {
    text-align: center;
    margin-bottom: 20px; }
  .prestations .presentation .objets [class*="col-"] {
    text-align: center;
    margin-bottom: 20px; }
    .prestations .presentation .objets [class*="col-"] .icon {
      font-size: 42px;
      color: #A99675; }
    .prestations .presentation .objets [class*="col-"] .texte {
      font-style: italic; }

.prestations .paralax {
  background: url("../images/equipe/grenoble.jpg") center center no-repeat fixed;
  background-size: cover;
  padding: 0px 0px; }
  .prestations .paralax .filtre {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px 0px; }
  .prestations .paralax p {
    text-align: center;
    color: #fff;
    font-size: 18px; }

.prestations .objectifs .center {
  text-align: center;
  margin-bottom: 40px; }

.prestations .objectifs [class*="col-"] .citation {
  font-style: italic;
  margin-top: 10px; }
  .prestations .objectifs [class*="col-"] .citation .texte {
    color: #A99675; }
