{% extends 'bootstrap_3_layout.html.twig' %}

{% block image_widget %}
  {% spaceless %}
    <div class="">
      {% for child in form %}
        {% set images = child.parent.vars.images[loop.index0] %}
        <label for="{{child.vars.id}}" class="col-xs-6 col-md-3 col-lg-2 text-center" style="vertical-align: bottom; display: inline-block; float: none;">
          <div class="image-bibliotheque">
              <img src="{{ asset(images.url)}}" alt="image">
          </div>
          <div class="nom-image">
            {{ form_widget(child) }}
          </div>
        </label>
      {% endfor %}
    </div>
  {% endspaceless %}
{% endblock %}
