{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="bordures">
	  	{{ parent() }}
	  	<h1>Actualités</h1>
			<div class="production">  		
		  	<div class="row">
			  	{{ include("SD6ProductionAppBundle:Include:annonce.html.twig") }}
			</div>
		</div>
	</div>

{% endblock %}