{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout - {{ parent() }}{% endblock %}

{% block head %}
  	{{ parent() }}
  	<meta name="description" content="">
  	<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  	{{ parent() }}
   	{% if type == "annonce" %} 
		{{ include("SD6ProductionAppBundle:Default:form-annonce.html.twig") }}
	{% else %}
	    <p>Rien</p>
	{% endif %}

{% endblock %}