{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  {{ parent() }}
  <p>Contact</p>

{% endblock %}