{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Mentions légales - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="mentions-legales">
  {{ parent() }}
  <h1 class="beige text-center">Mentions légales</h1>
  <hr class="hr-beige">
  <div class="row">
    <div class="bordures">
      <div class="row">
        <h2 class="text-left">SD6Production</h2>
        <p>Email : sd6production@gmail.com</p>
        <p>Téléphone :</p>
      </div>
      <div class="rox">
        <h2 class="text-left">Hébergeur du site</h2>
        <table class="table table-striped">
          <tr>
            <th>Raison sociale :</th>
            <td>OVH</td>
          </tr>
          <tr>
            <th>Forme juridique</th>
            <td>SAS</td>
          </tr>
          <tr>
            <th>Capital</th>
            <td>10 069 020 €</td>
          </tr>
          <tr>
            <th>SIRET</th>
            <td>424 761 419 00045</td>
          </tr>
          <tr>
            <th>Siège social :</th>
            <td>2 rue Kellermann 59100 Roubaix</td>
          </tr>
          <tr>
            <th>Tel :</th>
            <td>1007</td>
          </tr>
        </table>
      </div>
      <div class="rox">
        <h2 class="text-left">Les cookies</h2>
        <p>Nous utilisons des cookies de fonctionnalité afin d'améliorer l'expérience utilisateur et donc la navigation sur notre site.</p>
        <p>Ces cookies sont conservés sur votre ordinateur même après fermeture de votre navigateur et réutilisé lors des prochaines visites sur nos sites. Ils ne mettent pas en péril votre vie privée ni votre sécurité.</p>
        <p>Vous pouvez vous rendre sur le site de la Commission Nationale de l'Informatique et des Libertés (CNIL) <a href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/">ici</a>, où vous trouverez des explications pour gérer les cookies sur votre navigateur.</p>
      </div>
      <div class="row">
        <h2 class="text-left">Gestionnaire des statistiques</h2>
        <p>Le site utilise Google Analytics pour les statistiques. Se service de Google utilise des cookies. Ils ne collectent pas les informations personnelles sur les visiteurs du site, le but est d'évaluer votre utilisation du site.</p>
      </div>
      <div class="row">
        <h2 class="text-left">Liens hypertexte</h2>
        <p>Nous proposons des liens hypertexte renvoyant vers d'autres sites.  La responsabilité de SD6Production ne saurait être engagée quant au contenu de ces sites.</p>
        <p>Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers l'adresse www.sd6production.fr à condition que se ne soit pas néfaste pour l'image de SD6Production.</p>
      </div>

      <div class="row">
        <h2 class="text-left">Droit d'auteur</h2>
        <p>Toute copie, reproduction, représentation, adaptation, diffusion, intégrale ou partielle des photographies, des images, des textes, des extractions de base de données, des éléments de conception graphique et en règle générale de tous les éléments de publication du site sont interdites sans accord préalable de SD6Production.</p>
      </div>
      <div class="row">
        <h2 class="text-left">Crédit photo</h2>
        <p>Les photographies présentes sur ce site ne peuvent être reproduites, redistribuées ou vendues sans l’accord préalable de SD6Production.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
