{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Mentions légales - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="mentions-legales">
  {{ parent() }}
  <h1 class="beige text-center">Mentions légales</h1>
  <hr class="hr-beige">
  <div class="row">
    <div class="bordures">
      bonsoir
    </div>
  </div>
</div>

{% endblock %}
