{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Presations - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="prestations">
  {{ parent() }}
  <h1 class="beige text-center">Prestations</h1>
  <hr class="hr-beige">
  <div class="row presentation">
    <div class="bordures">
      <!--<h2 class="beige">Qui sommes-nous ?</h2>
      <hr class="hr-beige">-->
      <div class="row objets">
        <p class="text-center">SD6 Production est une association Grenobloise ayant pour objet la production et la réalisation de <span style="white-space: nowrap;">projets :</span></p>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
          </div>
          <div class="texte">
            Cinématographiques/télévisuels
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
          </div>
          <div class="texte">
            Compositions musicales
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </div>
          <div class="texte">
            Organisation évènements
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row paralax">
    <div class="filtre">
      <div class="bordures">
        <p>Chaque projet réalisé pourra être diffusé dans un premier temps dans <strong>la région Grenobloise</strong></p>
        <p>puis à l’échelle nationale ; ce qui reste notre priorité. </p>
      </div>
    </div>
  </div>
  <div class="row cinematographique-televisuel">
    <div class="bordures">
      <h2 class="beige">Cinématographiques / télévisuels</h2>
      <hr class="hr-beige">
      <p class="center">De nos jours, la plupart des œuvres cinématographiques sont filmées dans de grandes villes telles que Paris, Marseille, Lyon et quelques villes aux alentours... Cependant,  notre région est peu présente dans les  grands projets audiovisuels.</p>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>L’objectif de <strong>SD6 Production</strong> est de <strong>valoriser Grenoble et sa région</strong> en mettant en œuvre nos savoirs faire et compétances par le biais de la <strong>production de films</strong> (longs/moyens/courts métrages), mais aussi de web series et d'autres encore.</p>
        <p>Nous effectuons chaques étapes qui mennent à la réalisation d'un projet fini et aboutit et ce en passant par la <strong>création scénaristique</strong>, mais aussi les castings, puis la réalisation et enfin la promotion du projet dans la région et dans le reste de la France.</p>
        <p>D'autre part, nous prenons en charge la <strong>création d'émissions TV</strong> et également de la <strong>création de concepts</strong> afin d'innover et de presenter de nouveaux programmes aux écrans.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Aussi, nous sommes actif dans la réalisation de <strong>clips d'entreprise</strong> puis de <strong>clips musicaux</strong>. Si vous souhaitez présenter votre société ou des musiques à travers une vidéo, nous sommes à votre écoute pour une création qui vous correspond.</p>
        <blockquote class="blockquote-reverse text-right">
          <p class="texte">"La logique vous mènera d’un point A à un point B. L’imagination vous emmènera où vous voulez."</p>
          <p class="auteur">Albert Einstein</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="row musicales">
    <div class="bordures">
      <h2 class="beige">Compositions musicales</h2>
      <hr class="hr-beige">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Tout comme l’art du cinéma SD6 Production s’ouvre à la <strong>production musicale</strong>. Cette branche est actuellement en développement dans notre activité avec la <strong>composition de musique de film</strong>, musique publicitaire, jingle, MAO ( musique assistée par ordinateur)…</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Souvent nous rallions la composition musicale à nos projets cinématographiques et télévisuels pour apporter cohésion entre le visuel et l'audio afin <strong>réaliser un projet le plus complet possible.</strong></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="text-center">La musique c’est aussi, le spectacle, la scène, la danse, et donc forcement l’organisation d’événements importants en journée, tout comme en soirée :</p>
        <p class="text-center">Lors de grands événements SD6 Production nous voulons permettre aux Dj’s (de style différents) de participer en nous faisant découvrir leurs univers avec un concept propre à SD6 Production complété par des shows de danse variés, des prestations uniques et originales.</p>
      </div>
    </div>
  </div>

  <div class="row objectifs">
    <div class="bordures">
      <h2 class="beige">Organisation évènements</h2>
      <hr class="hr-beige">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Que ce soit une réception, une réunion ou encore un séminaire, SD6 Production s'occupe de <strong>l'organisation de votre évènement sur Grenoble</strong> et son agglomération.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Dans le cardre d'un projet professionnel ou pour des particuliers, SD6 Production est votre organisateur d'evenement !</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
