{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Presations - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="SD6 Production oeuvre à la production et à la réalisation cinématographique (films, séries, clips, etc). Vennez partager avec nous des ...">
<meta name="keywords" content="production, cinéma, grenoble">
{% endblock %}

{% block site_body %}
<div class="prestations">
  {{ parent() }}
  <h1 class="beige text-center">Prestations</h1>
  <hr class="hr-beige">
  <div class="row presentation">
    <div class="bordures">
      <div class="row objets">
        <p class="text-center">SD6 Production met toute son énérgie dans la production et la réalisation de <span style="white-space: nowrap;">projets :</span></p>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
          </div>
          <div class="">
            <p><em>Cinématographiques/télévisuels</em></p>
            <p><strong>Réalisation et production</strong> de contenu audiovisuel : production cinématographique, télévisuel, film d'entreprise, etc</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
          </div>
          <div class="">
            <p><em>Compositions musicales</em></p>
            <p><strong>Composition musicale</strong> généralement utilisée dans des productions, mais aussi à écouter pour le plaisir</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </div>
          <div class="">
            <p><em>Organisation évènements</em></p>
            <p><strong>Organisation de réception</strong>, réunion ou autres regroupements encadrés</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row paralax">
    <div class="filtre">
      <div class="bordures">
        <p class="text-center">Créée depuis plusieurs années, SD6 Production transforme des idées en scripts puis en projets qui répondent aux besoins !</p>
      </div>
    </div>
  </div>
  <div class="row cinematographique-televisuel element-left">
    <div class="bordures">
      <h2 class="beige">Cinématographiques / télévisuels</h2>
      <hr class="hr-beige">
      <p class="center">SD6 Production s'est fixé pour objectif de mettre en valeur des villes plus ou moins connues afin de les faires découvrir ou redécouvrir sous un autre perspective audiovisuelle. Acctuellement à Grenoble, c'est un plaisir de travailler dans cette ville et ses alentours dont les paysages sont surprenants.</p>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>L’objectif de <strong>SD6 Production</strong> est la <a href="{{path('sd6_production_app_productions')}}">réalisation et production</a> de contenu audiovisuel en mettant en œuvre nos savoirs faire et compétances par le biais de la <strong>production de films</strong> (longs/moyens/courts métrages), mais aussi de web series et d'autres encore ...</p>
        <p>Nous effectuons chaques étapes qui mennent à la réalisation d'un projet fini et aboutit et ce en passant par la <strong>création scénaristique</strong>, mais aussi les castings, puis la réalisation et enfin la promotion du projet dans la région et dans le reste de la France.</p>
        <p>D'autre part, nous prenons en charge la <strong>création d'émissions TV</strong> et également de la <strong>création de concepts</strong> afin d'innover et de presenter de nouveaux programmes aux écrans.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>Aussi, nous sommes actif dans la réalisation de <strong>film d'entreprise</strong>, puis de <strong>clips musicaux</strong>. Si vous souhaitez présenter votre société ou des musiques à travers une vidéo, nous sommes à votre écoute pour une création qui vous correspond.</p>
        <blockquote class="blockquote-reverse text-right">
          <p class="texte">"La logique vous mènera d’un point A à un point B. L’imagination vous emmènera où vous voulez."</p>
          <p class="auteur">Albert Einstein</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="row musicales background-gris element-right">
    <div class="bordures">
      <h2 class="beige">Compositions musicales</h2>
      <hr class="hr-beige">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>Tout comme l’art du cinéma SD6 Production s’ouvre à la <strong>production musicale</strong>. Cette branche est actuellement en développement dans notre activité avec la <strong>composition de musique de film</strong>, musique publicitaire, jingle, MAO ( musique assistée par ordinateur)…</p>
        <p>Souvent nous ajoutons la composition musicale dans nos projets cinématographiques et télévisuels pour apporter une cohésion entre le visuel et l'audio afin de <strong>réaliser un projet qui transport au mieux le public.</strong></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>La musique c’est aussi, le spectacle, la scène, la danse, et donc forcement l’organisation d’événements en journée, tout comme en soirée :</p>
        <p>Lors de grands événements, nous voulons permettre aux Dj’s (de style différents) de participer en nous faisant découvrir leurs univers avec un concept propre à SD6 Production complété par des shows de danse variés, des prestations uniques et originales.</p>
      </div>
    </div>
  </div>

  <div class="row objectifs element-left">
    <div class="bordures">
      <h2 class="beige">Organisation évènements</h2>
      <hr class="hr-beige">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>L'organisation est un maître mot dans la production cinématographique, c'est pourquoi nous avons décidé de la mettre à votre disposition pour l'organisation d'évènements.</p>
        <p>Que ce soit une réception, une réunion ou encore un séminaire, SD6 Production s'occupe de <strong>l'organisation de votre évènement sur Grenoble</strong> et son agglomération.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
        <p>A cette occasion, SD6 Production peut réaliser un court film de votre évènement afin de capturer les meilleurs moments passés.</p>
        <p>Dans le cardre d'un projet professionnel ou pour des particuliers, <strong>SD6 Production</strong> est votre organisateur d'evenement !</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
