/*Css general au bundle AdminBundle*/
.image-bibliotheque{
  img{
    width: 100%;
    height: auto;
  }
}

.nom-image{
  label{
    overflow: hidden;
  }
}

.boutons-admin{
  .supprimer{
    color: #fff;
  }

  .supprimer:hover {
    color: #fff;
  }
}

.admin-annonces{
  .ajout{
    a{
      color: #fff;
    }

    a:hover{
      color: #fff;
    }
  }
}
