.contact{
  h4{
    text-transform: uppercase;
  }

  .contenu{
    background-color: $grisClair;

    .reseaux-sociaux{
      a.facebook{
        img{
          width: 45px;
          height: 45px;
        }
      }
    }

    .formulaire{
      form{
        margin-bottom: 10px;

        .form-group{
          margin-bottom: 20px;

          input[type='text'], input[type='email'], textarea{
            width: 100%;
            padding: 10px 15px;
            border: 1px solid #eeeeee;
            border-radius: 0px;
          }

          button{
            float: right;
            color: #fff;
            background-color: $beige;
            border: 1px solid #fff;
            padding: 7px 20px;
          }

          button:hover{
            color: $beige;
            background-color: #fff;
            border: 1px solid $beige;
          }
        }
      }

      .legende{
        font-style: italic;
        font-size: 11px;
      }
    }

    .coordonnes, .reseaux-sociaux, .formulaire{
      margin-bottom: 30px;
    }
  }

  .map{
    padding: 0px;
  }
}
