/*------Equipe------*/
.equipe{
  h1{
    text-align: center;
  }

  .center{
    text-align: center;
    margin-bottom: 40px;
  }

  .membres{

    [class*="col-"]{
      padding-bottom: 20px;
      .image{
      	width: 30%;
      	height: auto;

        img{
        	width: 100%;
        	height: auto;
        	max-height: 200px;
        }
      }

      .media-body{
      	width: 70%;
      	vertical-align: middle;
      }
    }

    p.center{
      padding-top: 40px;
      text-align: center;
    }
  }
}
