/*------Footer------*/
footer.row{
  padding: 40px 0px 0px 0px;

  h4{
  	text-transform: uppercase;
    color: $beige;
  }

  .plan{
    a{
    	display: block;
      color: $grisTxtFooter;
      cursor: pointer;
    }
  }

  .rs {
    img{
  	width: 45px;
  	height: auto;
  }
  }

  .copyright{
  	padding-top: 10px;
  	text-align: center;
  	background-color: #151515;
  	font-style: italic;
  	color: #444444;
  }

  .coordonnees, .plan , .rs{
  	margin-bottom: 20px;
    color: $grisTxtFooter;
  }
}
