/*------Page Galerie Image------*/
/*pop-up fisionneuse photos*/
#lightbox {
	position:fixed; /* keeps the lightbox window in the current viewport */
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.8);
	text-align:center;

	span.glyphicon-remove-circle {
		color: #d8d8d8;
		margin-right: 20px;
		position: absolute;
		right: 0;
		font-size: 30px;
		top: 10px;
		cursor: pointer;
	}

	.contenu{
		margin: 50px 60px;
		display: table;

		span.glyphicon-menu-left, span.glyphicon-menu-right{
			display: table-cell;
			vertical-align: middle;
			color: #d8d8d8;
			font-size: 30px;
			cursor: pointer;
		}
		img {
			width: 100%;
			height: auto;
			box-shadow:0 0 25px #111;
			-webkit-box-shadow:0 0 25px #111;
			-moz-box-shadow:0 0 25px #111;
			max-width:940px;
		}
	}
}
.galerie{

	.photos{
		ul{
			list-style: none;

			li{
				a{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#lightbox{
		.contenu{
			margin: 50px 0px;
		}
	}
}
.blueimp-gallery>.slides>.slide-loading{background:url(images/loading.gif) center no-repeat;background-size:64px 64px}
