/*------General------*/
body{
  font-family: 'Roboto regular', sans-serif;
}

h1{
  letter-spacing: 2px;
}

h2{
  letter-spacing: 1px;
}

h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 20px;
}

p, body{
  font-size: 16.5px;
}

hr{
  margin-bottom: 35px;
}

hr.hr-beige{
  width: 50px;
  border: 1px solid $beige;
}

h1.beige, h2.beige{
  color: $beige;
}

footer{
  background-color: #222222;
  color: #fff;
}

.row{
  padding: 40px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.bordures{
  width: 85%;
  margin: auto;
}

.ombres:hover {
  box-shadow: 0 12px 15px 2px rgba(0,0,0,0.14),0 4px 23px 3px rgba(0,0,0,0.12),0 6px 8px -4px rgba(0,0,0,0.3);
}

.annonce{
  .image {
    img{
      width: 100%;
      height: auto;
    }
  }
}

.zoom-effet{
  overflow: hidden;
  img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}
.zoom-effet:hover{
  overflow: hidden;
  img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

.active{
  a{
    color: #fff;
  }
}

.nav-fixed{
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	animation: navBarHaut 0.5s;
}

.loader{
  position:fixed; /* keeps the lightbox window in the current viewport */
	top:0;
	left:0;
	width:100%;
	height:100%;
  background: #111;
	color: rgba(255,255,255,0.95);
	display: flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  z-index: 12;

  #camera-body, #reel-1, #reel-2 {
    fill: #fff;
    fill-opacity: 0.95;
    stroke: none;
  }
}

.alert{
  margin-bottom: 0px;
}

//Elements pinned en haut de page (productions et actualites)
.epingle{
  .glyphicon-pushpin{
    position: absolute;
    right: 5px;
    top: 5px;
  }

  [class^="col-"].contenu{
    padding: 40px 0px;
    background-color: $beigeH1Home;

    img{
      width: 100%;
      height: auto;
    }
    .titre, .accroche, .date{
      padding-left: 15px;
      p{
        color: #fff;
      }
    }

    .titre{
      h3{
        a{
          color: #fff
        }
      }
    }

    .bouton{
      margin-left: 15px;
      a{
        padding:7px 14px;
        border:1px solid #fff;
        background-color:$beigeH1Home;
        color:#fff;
        text-decoration:none;
      }

      a:hover{
        border:1px solid $beigeH1Home;
        background-color:#fff;
        color:$beige;
      }
    }
  }

  [class^="col-"].contenu:last-child{
    margin-bottom: 40px;
  }
}

#alertMessage{
  z-index: 10;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  width: 364px;
  top: 0;
}

@font-face {
	font-family: 'Roboto regular';
	src: url('../fonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@media (min-width: 992px ){
  .container {
    width: auto;
  }
}

@media (max-width: 767px ){
  .video {
    display: none;
  }
}
