.production{
  [class^="col-"]{
    padding-right: 0px;
    padding-left: 0px;
  }

  .production-epingle{
    [class^="col-"].contenu{
      padding: 40px 0px;
      background-color: $beigeH1Home;

      img{
        width: 100%;
        height: auto;
      }
      .titre, .accroche, .date{
        padding-left: 15px;
        p{
          color: #fff;
        }
      }

      .titre{
        h3{
          a{
            color: #fff
          }
        }
      }

      .bouton{
        margin-left: 15px;
        a{
          padding:7px 14px;
          border:1px solid #fff;
          background-color:$beigeH1Home;
          color:#fff;
          text-decoration:none;
        }

        a:hover{
          border:1px solid $beigeH1Home;
          background-color:#fff;
          color:$beige;
        }
      }
    }

    [class^="col-"].contenu:last-child{
      margin-bottom: 40px;
    }
  }

  .grille{
    .contenu{
      margin: 1px 1px;
      .image{
        img{
          display:block;
          position:relative;
          -webkit-transition:all .4s linear;
          transition:all .4s linear;
          width: 100%;
          height: auto;
        }
      }
      .overlay{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.5);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out;
        text-align: center;

        .texte{
          display: table;
          width: 100%;
          height: 100%;

          .table-cell{
            display: table-cell;
            vertical-align: middle;
            .titre{
              text-transform:uppercase;
              font-size:17px;
              background:rgba(0,0,0,0.7);
              padding:10px;
              margin: 10px 0px;

              h3{
                margin: 0;
                a{
                  color:#fff;
                  text-decoration: none;
                }
              }

              h3:hover{
                a{
                  color: $beige;
                }
              }
            }

            .accroche, .date{
              color:#fff;
              p{
                font-size: 13px;
              }
              padding: 0px 10px;
            }

            .bouton{
              display:inline-block;
              filter:alpha(opacity=0);
              -webkit-transition:all .2s ease-in-out;
              transition:all .2s ease-in-out;
              a{
                padding:7px 14px;
                border:1px solid $noirBtn;
                background-color:$noirBtn;
                color:#fff;
                text-decoration:none;
              }

              a:hover{
                border:1px solid $beige;
                background-color:$beige;
                color:#fff;
              }
            }
          }
        }
      }

      .overlay:hover{
        opacity:1;
        filter:alpha(opacity=100);

        .bouton{
          -webkit-transition-delay:.2s;
          transition-delay:.2s;
        }
      }
    }
  }
}
